@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body{
	/*width: 100%;
	height: 100%;*/
}

body{
	font-size: 14px;
	line-height: 1.5;
	/*color:black;*/
	/*background-color: white;*/
	display: block;
}

.navbar{
	margin-bottom: 0px;
	font-family: Pacifico;
}

.navbar-default{
	background-color: orange;
}

.welcome{
	padding-top: 150px;
	color: white;
}

.button{
	padding-top: 25px;
}

.jumbotron-top{
	position: relative;
	background-image: url(https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin-bottom: 0px;

	/*max-width: 100%;*/
	/*height: auto;*/
}


.profile-create{
	padding: 100px;
	display: block;
	background-color: #ea7210;
}

.profile-link{
	padding: 30px;
	display: block;
	border: white 1px solid;
	transition: color 0.5s ease;
	text-decoration: none;
}

.profile-link:hover{
	color:black;
	text-decoration: underline;
}

.samples{
	padding: 50px;
	display: block;
	margin-bottom: 0px;
}

.samples-dogs{
	padding-bottom: 0px;
	padding-top: 0px;
}

.thumbnails{
	text-align: center;
	

}

.thumbnail img{
	height: 250px;
}

.jumbotron-bottom{
	height: 75%;
	margin-bottom: 0px;
	background: url(https://images.pexels.com/photos/128817/pexels-photo-128817.jpeg?w=940&h=650&auto=compress&cs=tinysrgb)center no-repeat;
	
}

.footer-section{
	background-color: #ea7210;
}

.footer-header{
	padding-top: 100px;
}

.footer-button{
	padding-top: 30px;
}

.container{
	display: flex;
	width: 100%;
	padding-top: 125px;
	padding-bottom: 0px;
}

.FAQ-Jumbo{
	background: url(https://images.pexels.com/photos/89249/pexels-photo-89249.png?w=940&h=650&auto=compress&cs=tinysrgb)no-repeat center center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	margin-bottom: 0px;
}

.FAQ-Header{
	padding-top: 100px;
}

.FAQ-Button{
	padding-top: 30px;
}

.Donate-Header{
	padding-top: 100px;
}

.Donate-Button{
	padding-top: 30px;
}

.Donate-Jumbo{
	background: url(https://images.pexels.com/photos/192550/pexels-photo-192550.jpeg?w=940&h=650&auto=compress&cs=tinysrgb)no-repeat center center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	margin-bottom: 0px;
	margin-right: 0px;
}

a{
	text-decoration: none;
	color: white;
	font-family: Pacifico;
}

h1{ 
	text-align: center; 
	font-family: Pacifico;
	color: white;

}

h3{
	text-align: center;
	padding: 20px;
	font-family: Pacifico;
}

p{
	text-align: center;

}

img{
	max-width: 100%;
	height: auto;
}







